<%- include('./partials/head') %>
<body >
    <%- include('./partials/nav') %>
    <section class="productos-card" >
        <h1>Mejores productos para verano 2021</h1>
        
        <div class="container-productos">

        <div class="spacing">
            <div class="card-productos">
    
                <div class="overflow-img">
                <a href="https://amzn.to/3A5eMev" target="_blank">
                    <img class="producto-image" src="https://m.media-amazon.com/images/I/71tp--WHEbL._AC_SL1500_.jpg"
                    alt="funda protector, estanca impermeable sumergible , movil telefono >YOSH Funda Impermeable Móvil IPX8 Universal 2 Unidades, Bolsa para Móvil Estanca a Prueba de Agua para iPhone 12 Pro MAX 11 XR X 8 7 Galaxy Note 20 S20 Xiaomi Poco X3 Huawei Mate40 Pro hasta 7">
                </a>
                </div>

                <h3>Funda impermeable para movil </h3>
                <h4>Accesorio para movil totalmente sumergible e impermeable, cuenta con protección IPX8.</h4>
                <p class="precio">13,99 €</p>
                <a class="button-comp-amaz" target="_blank" href="https://amzn.to/3A5eMev"><b>COMPRAR EN AMAZON</b></a>
                <img class="icon-amazon"  src="/images/svg/amazon-icon.svg"> 
                
            </div>
        </div>
        <div class="spacing">
            <div class="card-productos">
    
                <div class="overflow-img">
                <a href="https://amzn.to/2Vlgrx6" target="_blank">
                    <img class="producto-image"  src="https://m.media-amazon.com/images/I/71CPJRo59DS._AC_SL1500_.jpg"
                    alt="funda protector, estanca impermeable sumergible , movil telefono >YOSH Funda Impermeable Móvil IPX8 Universal 2 Unidades, Bolsa para Móvil Estanca a Prueba de Agua para iPhone 12 Pro MAX 11 XR X 8 7 Galaxy Note 20 S20 Xiaomi Poco X3 Huawei Mate40 Pro hasta 7">
                </a>
                </div>
                <h3>Batería portable </h3>
                <h4>Accesorio para movil totalmente sumergible e impermeable, cuenta con protección IPX8.</h4>
                <p class="precio">34,99 €</p>
                <a class="button-comp-amaz" target="_blank" href="https://amzn.to/2Vlgrx6"><b>COMPRAR EN AMAZON</b></a>
                <img class="icon-amazon"  src="/images/svg/amazon-icon.svg"> 
                
            </div>
        </div>
        <div class="spacing">
            <div class="card-productos">
    
                <div class="overflow-img">
                <a href="https://amzn.to/2Vlgrx6" target="_blank">
                    <img class="producto-image"  src="https://m.media-amazon.com/images/I/71CPJRo59DS._AC_SL1500_.jpg"
                    alt="funda protector, estanca impermeable sumergible , movil telefono >YOSH Funda Impermeable Móvil IPX8 Universal 2 Unidades, Bolsa para Móvil Estanca a Prueba de Agua para iPhone 12 Pro MAX 11 XR X 8 7 Galaxy Note 20 S20 Xiaomi Poco X3 Huawei Mate40 Pro hasta 7">
                </a>
                </div>
                <h3>Funda impermeable para movil </h3>
                <h4>Accesorio para movil totalmente sumergible e impermeable, cuenta con protección IPX8.</h4>
                <p class="precio">13,99 €</p>
                <a class="button-comp-amaz" target="_blank" href="https://amzn.to/2Vlgrx6"><b>COMPRAR EN AMAZON</b></a>
                <img class="icon-amazon"  src="/images/svg/amazon-icon.svg"> 
                
            </div>
        </div>
        <div class="spacing">
            <div class="card-productos">
    
                <div class="overflow-img">
                <a href="https://amzn.to/2Vlgrx6" target="_blank">
                    <img class="producto-image"  src="https://m.media-amazon.com/images/I/71CPJRo59DS._AC_SL1500_.jpg"
                    alt="funda protector, estanca impermeable sumergible , movil telefono >YOSH Funda Impermeable Móvil IPX8 Universal 2 Unidades, Bolsa para Móvil Estanca a Prueba de Agua para iPhone 12 Pro MAX 11 XR X 8 7 Galaxy Note 20 S20 Xiaomi Poco X3 Huawei Mate40 Pro hasta 7">
                </a>
                </div>
                <h3>Funda impermeable para movil </h3>
                <h4>Accesorio para movil totalmente sumergible e impermeable, cuenta con protección IPX8.</h4>
                <p class="precio">13,99 €</p>
                <a class="button-comp-amaz" target="_blank" href="https://amzn.to/2Vlgrx6"><b>COMPRAR EN AMAZON</b></a>
                <img class="icon-amazon"  src="/images/svg/amazon-icon.svg"> 
                
            </div>
        </div>
        <div class="spacing">
            <div class="card-productos">
    
                <div class="overflow-img">
                <a href="https://amzn.to/2Vlgrx6" target="_blank">
                    <img class="producto-image"  src="https://m.media-amazon.com/images/I/71CPJRo59DS._AC_SL1500_.jpg"
                    alt="funda protector, estanca impermeable sumergible , movil telefono >YOSH Funda Impermeable Móvil IPX8 Universal 2 Unidades, Bolsa para Móvil Estanca a Prueba de Agua para iPhone 12 Pro MAX 11 XR X 8 7 Galaxy Note 20 S20 Xiaomi Poco X3 Huawei Mate40 Pro hasta 7">
                </a>
                </div>
                <h3>Funda impermeable para movil </h3>
                <h4>Accesorio para movil totalmente sumergible e impermeable, cuenta con protección IPX8.</h4>
                <p class="precio">13,99 €</p>
                <a class="button-comp-amaz" target="_blank" href="https://amzn.to/2Vlgrx6"><b>COMPRAR EN AMAZON</b></a>
                <img class="icon-amazon"  src="/images/svg/amazon-icon.svg"> 
                
            </div>
        </div>
        <div class="spacing">
            <div class="card-productos">
    
                <div class="overflow-img">
                <a href="https://amzn.to/2Vlgrx6" target="_blank">
                    <img class="producto-image"  src="https://m.media-amazon.com/images/I/71CPJRo59DS._AC_SL1500_.jpg"
                    alt="funda protector, estanca impermeable sumergible , movil telefono >YOSH Funda Impermeable Móvil IPX8 Universal 2 Unidades, Bolsa para Móvil Estanca a Prueba de Agua para iPhone 12 Pro MAX 11 XR X 8 7 Galaxy Note 20 S20 Xiaomi Poco X3 Huawei Mate40 Pro hasta 7">
                </a>
                </div>
                <h3>Funda impermeable para movil </h3>
                <h4>Accesorio para movil totalmente sumergible e impermeable, cuenta con protección IPX8.</h4>
                <p class="precio">13,99 €</p>
                <a class="button-comp-amaz" target="_blank" href="https://amzn.to/2Vlgrx6"><b>COMPRAR EN AMAZON</b></a>
                <img class="icon-amazon"  src="/images/svg/amazon-icon.svg"> 
                
            </div>
        </div>
        
        </div>

        




            



            

            
            
            

        </div>

    </section>



    <%- include('./partials/footer') %>

<script src="/js/gallery.js"></script>
<script src="https://kit.fontawesome.com/f85273b659.js" crossorigin="anonymous"></script>
</body>
</html>