<%- include('./partials/head') %>
<body>
    
    
    <%- include('./partials/nav') %>
    <section class="container-info-places">
        <div class="container-info">
            <div class="info-head">
    
                <div class="info-title">
                    <h1>GORGO DE LA ESCLAERA</h1>
                </div>
    
                <div class="gallery-container">
                    <!-- Swiper -->
                    <div class="swiper-container mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="/images/gorgo1.jpg"></div>
                            <div class="swiper-slide"><img src="/images/gorgo2.jpg"></div>
                            <div class="swiper-slide"><img src="/images/gorgo3.jpg"></div>
                            
                            
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
  
      

                    <!-- <div class="gallery-img">
                        <img class="image" src="/images/gorgo1.jpg">
                    </div>
                    <div class="gallery-buttons">
                    </div> -->

                </div>
    
            </div>
    
            <div class="info-foot">
                
                
                    <div class="item">
                        <input type="checkbox" id="A"/>
                        <label for="A">
                        <i class="fas fa-caret-right arrow"></i><p>Saltos al agua</p><span id="stars-saltos"></span></label>
                        <div class="info"><b>El Gorgo de la escalera cuenta con dos saltos al agua de 3 y 4 metros </b></div>
                    </div> 


                    <div class="item">
                        
                        <input type="checkbox" id="B"/>
                        <label for="B">
                        <i class="fas fa-caret-right arrow"></i><p>Concurrencia</p><span id="stars-concurrencia"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div>   

                    <div class="item">
                        <input type="checkbox" id="C"/>
                        <label for="C">
                        <i class="fas fa-caret-right arrow"></i><p>Caudal</p><span id="stars-caudal"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div> 

                    <div class="item">
                        <input type="checkbox" id="D"/>
                        <label for="D">
                        <i class="fas fa-caret-right arrow"></i><p>Aparcamiento</p><span id="stars-aparcamiento"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div>   
            </div>

        </div>
    
        <div class="container-info">
        </div>
        <div class="container-info">
        </div>

    <!-- FUENTE DE MARZO -->

        <div class="container-info">
            <div class="info-head">
    
                <div class="info-title">
                    <h1>FUENTE DE MARZO</h1>
                </div>
    
                <div class="gallery-container">
                    <div class="gallery-img">
                        <img class="image" src="/images/gorgo1.jpg">
                    </div>
                    <div class="gallery-buttons">
    
                    </div>
                </div>
    
            </div>
    
            <div class="info-foot">
                
                
                    <div class="item">
                        <input type="checkbox" id="A"/>
                        <label for="A">
                        <i class="fas fa-caret-right arrow"></i><p>Saltos al agua</p><span id="stars-saltos"></span></label>
                        <div class="info"><b>El Gorgo de la escalera cuenta con dos saltos al agua de 3 y 4 metros </b></div>
                    </div> 


                    <div class="item">
                        
                        <input type="checkbox" id="B"/>
                        <label for="B">
                        <i class="fas fa-caret-right arrow"></i><p>Concurrencia</p><span id="stars-concurrencia"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div>   

                    <div class="item">
                        <input type="checkbox" id="C"/>
                        <label for="C">
                        <i class="fas fa-caret-right arrow"></i><p>Caudal</p><span id="stars-caudal"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div> 

                    <div class="item">
                        <input type="checkbox" id="D"/>
                        <label for="D">
                        <i class="fas fa-caret-right arrow"></i><p>Aparcamiento</p><span id="stars-aparcamiento"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div>   
            </div>

        </div>
    
        <div class="container-info">
        </div>
        <div class="container-info">
        </div>
        
        
    
    </section>

        


    
    
<section class="modal">
    <div class="modal-container">
        <img class="modal-img" src="/images/gorgo1.jpg">
        <div class="modal-slide-buttons">
            <div class="btn-avance"><a><i class="fas fa-chevron-left"></i></a></div>
            <div class="btn-regress"><a><i class="fas fa-chevron-right"></i></a></div>
        </div>
        <div class="modal-exit-button">
        <a class="btn-exit"><i class="fas fa-times"></i></a>
        </div>
    </div>
</section>





<script src="/js/gallery.js"></script>
<script src="https://kit.fontawesome.com/f85273b659.js" crossorigin="anonymous"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
      cssMode: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
    });
  </script>




    
    
</body>
</html>