<%- include('./partials/head') %>
<body>
    
    
    <%- include('./partials/nav') %>
    <section class="container-info-places">


        <div class="container-title-rios">
                <h1>TOP RIOS</h1>
                <h3>¿Eres inquieto y te gusta la aventura?</h3>
                <h4>Aquí tienes nuestra recomendaciones de los mejores rios de la comunidad valenciana</p>
        </div>
        



        <div class="container-info">
            <div class="info-head">
    
                <div class="info-title">
                    <h1>GORGO DE LA ESCLAERA</h1>
                </div>
    
                <div class="gallery-container">
                    <!-- Swiper -->
                    <div class="swiper-container mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="/images/gorgo1.jpg"></div>
                            <div class="swiper-slide"><img src="/images/gorgo2.jpg"></div>
                            <div class="swiper-slide"><img src="/images/gorgo3.jpg"></div>
                            
                            
                        </div>
                        <div class="swiper-button-next swiper-buttons"></div>
                        <div class="swiper-button-prev swiper-buttons"></div>
                        <div class="swiper-pagination"></div>
                    </div>
  
      

                    <!-- <div class="gallery-img">
                        <img class="image" src="/images/gorgo1.jpg">
                    </div>
                    <div class="gallery-buttons">
                    </div> -->

                </div>
    
            </div>
            
            <div class="info-foot">
                
                
                    <div class="item">
                        <input type="checkbox" id="A"/>
                        <label class="label-star" for="A">
                        <i class="fas fa-caret-right arrow"></i><b>Saltos al agua</b><span id="stars-saltos"></span></label>
                        <div class="info"><p>El Gorgo de la escalera cuenta con dos saltos al agua de 3 y 4 metros </p></div>
                    </div> 


                    <div class="item">
                        
                        <input type="checkbox" id="B"/>
                        <label class="label-star" for="B">
                        <i class="fas fa-caret-right arrow"></i><b>Concurrencia</b><span id="stars-concurrencia"></span></label>
                        <div class="info"><p>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </p></div>
                    </div>   

                    <div class="item">
                        <input type="checkbox" id="C"/>
                        <label class="label-star" for="C">
                        <i class="fas fa-caret-right arrow"></i><b>Caudal</b><span id="stars-caudal"></span></label>
                        <div class="info"><p>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </p></div>
                    </div> 

                    <div class="item">
                        <input type="checkbox" id="D"/>
                        <label class="label-star" for="D">
                        <i class="fas fa-caret-right arrow"></i><b>Aparcamiento</b><span id="stars-aparcamiento"></span></label>
                        <div class="info"><p>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </p></div>
                    </div>

                    <div class="item">
                        <input type="checkbox" id="E"/>
                        <label class="label-star" for="E">
                        <i class="fas fa-caret-right arrow"></i><b>Ubicación</b><span id="stars-aparcamiento"></span></label>
                        <div class="info-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d457425.14687090006!2d-0.9683308344593353!3d38.89871726245552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd610b1cb8267c53%3A0xff2143f79703dca4!2sGorgo%20de%20la%20Escalera!5e1!3m2!1ses!2ses!4v1627486615360!5m2!1ses!2ses"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>                        </div>
                    </div>  
            </div>

        </div>
    
        <div class="container-info">
        </div>
        <div class="container-info">
        </div>

    <!-- FUENTE DE MARZO -->

        <div class="container-info">
            <div class="info-head">
    
                <div class="info-title">
                    <h1>FUENTE DE MARZO</h1>
                </div>
    
                <div class="gallery-container">
                    <div class="gallery-img">
                        <img class="image" src="/images/gorgo1.jpg">
                    </div>
                    <div class="gallery-buttons">
    
                    </div>
                </div>
    
            </div>
    
            <div class="info-foot">
                
                
                    <div class="item">
                        <input type="checkbox" id="A"/>
                        <label for="A">
                        <i class="fas fa-caret-right arrow"></i><p>Saltos al agua</p><span id="stars-saltos"></span></label>
                        <div class="info"><b>El Gorgo de la escalera cuenta con dos saltos al agua de 3 y 4 metros </b></div>
                    </div> 


                    <div class="item">
                        
                        <input type="checkbox" id="B"/>
                        <label for="B">
                        <i class="fas fa-caret-right arrow"></i><p>Concurrencia</p><span id="stars-concurrencia"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div>   

                    <div class="item">
                        <input type="checkbox" id="C"/>
                        <label for="C">
                        <i class="fas fa-caret-right arrow"></i><p>Caudal</p><span id="stars-caudal"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div> 

                    <div class="item">
                        <input type="checkbox" id="D"/>
                        <label for="D">
                        <i class="fas fa-caret-right arrow"></i><p>Aparcamiento</p><span id="stars-aparcamiento"></span></label>
                        <div class="info"><b>La concurrencia no es muy abuendante, no es un sitio que se llene excesivamente, influye tambien que la entrada tiene un coste de 2 euros. </b></div>
                    </div>   
            </div>

        </div>
    
        <div class="container-info">
        </div>
        <div class="container-info">
        </div>
        
        
    
    </section>



    
    
<section class="modal">
    <div class="modal-container">
        <img class="modal-img" src="/images/gorgo1.jpg">
        <div class="modal-slide-buttons">
            <div class="btn-avance"><a><i class="fas fa-chevron-left"></i></a></div>
            <div class="btn-regress"><a><i class="fas fa-chevron-right"></i></a></div>
        </div>
        <div class="modal-exit-button">
        <a class="btn-exit"><i class="fas fa-times"></i></a>
        </div>
    </div>
</section>


<%- include('./partials/footer') %>


<script src="/js/gallery.js"></script>
<script src="https://kit.fontawesome.com/f85273b659.js" crossorigin="anonymous"></script>



<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>








<!-- Initialize Swiper -->
<script>
    const swiper = new Swiper(".mySwiper", {
      cssMode: true,
      allowTouchMove:true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
      
      
    });
    const swiperButton = document.querySelectorAll(".swiper-buttons");

    var mediaqueryList = window.matchMedia("(min-width: 768px)");
    

    if(!mediaqueryList.matches) {
        console.log("imposible");
        swiperButton.forEach (element=>{
            element.classList.add("swiper-button-hidden","swiper-button-disabled","swiper-button-lock")
        })
        
        
        console.log(swiperButton.classList)
    }

    
  </script>



</body>
</html>