<footer>
    <section class="olas">
        <div class="container-olas">
        <img class="ola-image"src="/images/svg/ola.svg">
        <img class="ola-image"src="/images/svg/ola.svg">
        <img class="ola-image"src="/images/svg/ola.svg">
    </div>
    </section>

    <section class="foot">
        <div class="container-redes">
    
            <h2>Siguenos en redes</h2>
            <div class="container-iconos-redes">
                <a href="www.instagram.com"><img class="icon-redes" src="/icons/instagram.svg"></a>
                <img class="icon-redes" src="/icons/facebook.svg">
                <img class="icon-redes" src="/icons/twitter.svg">
    
            </div>
    
        </div>
        <div class="container-qs">
            <h2>¿Quienes somos?</h2>
            <p>Nacimos con una idea de cubrir la necesidad de incertidumbre a la hora de escoger un lugar a donde
                desplazarse Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed hic ex aut quod vitae iste eum
                laborum quisquam quas illum cupiditate blanditiis tenetur laudantium, asperiores error debitis sequi veniam
                magnam.</p>
            <div class="button-rm"><a href="/sobre-nosotros"><b>READ MORE</b></a></div>
        </div>
    </section>


</footer>