<% if (signupMessage.length>0){ %>
    <div class="message-error"> <%= signupMessage %> </div>
<% } %> 
<% if (signinMessage.length>0){ %>
    <div class="message-error"> <%= signinMessage %> </div>
<% } %> 




