<nav class="nav">
  <div class="nav-container">
      <div class="nav-pages">
        <a class="nav-link" href="/">TOP ACTION</a>
        <a class="nav-link" aria-current="page" href="#">Galeria</a>
        <a class="nav-link" aria-current="page" href="#">Sobre nosotros</a>
        <a class="nav-link" aria-current="page" href="#">Sobre nosotros</a>
        <a class="nav-link" aria-current="page" href="#">Sobre nosotros</a>
        
        
      </div>
      <%if (user){%>
        <div class="nav-identification">
          <a class="nav-link" href="/profile">Perfil</a>
          <a class="nav-link" href="/logout">Cerrar sesion</a>
        </div>
      <% }else{ %>
      <div class="nav-identification">
        <a class="nav-link" href="/signin">Entrar</a>
        <a class="nav-link" href="/signup">Registrarse</a>
      </div>
      <% } %>
  </div>
</nav>